<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
<title>Create Location</title>
</head>
<body>
	<form action="saveLoc" method="post">
<pre>
		Id:  <input type="text" name="id" /> 
		Name:<input type="text" name="name" />
		Code:<input type="text" name="code" /> 
		Type: 
			  Urban:<input type="radio" name="type" value="URBAN"/> 
			  Rural:<input type="radio" name="type" value="Rural"/> 
	<input type="submit" value="save" />
</pre>
	</form>
	<b th:text="${msg}"></b>
	<a th:href ="displayLocations">ViewAll</a>
</body>
</html>